body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 95%);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 10px;
  box-sizing: border-box;
}

.search-container {
  position: relative;
  height: 43px;
}

input {
  height: 100%;
  width: 400px;
  padding: 0 10px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

#search-btn {
  height: 100%;
  background-color: #f2711c;
  color: #fff;
  font-size: 15px;
  margin: 0;
  border: 0;
  border-radius: 2px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.tabs, .no-movies {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.tab {
  margin-right: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 1px;
  cursor: pointer;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: transparent;
}

.movie-card, .search-movie-card {
  display: flex;
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 0;
  border: none;
  background-color: #fff;
}

.left, .search-movie-left {
  flex: 1;
  background-color: #fff;
}

.search-movie-card, .search-movie-left  {
  background-color: rgb(229, 254, 236);
}

.left img {
  height: 170px;
  width: 180px;
}

.search-movie-left img {
  height: 100px;
  width: 100px;
}

.right, .search-movie-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  flex: 6;
}

.title {
  font-weight: 600;
}

.plot {
  margin-top: -50px;
  font-size: small;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.rating {
  font-size: 20px;
  font-weight: 600;
}

.favourite-btn, #add-movies-btn {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  font-weight: 600;
  background-color: #2185d0;
  cursor: pointer;
}

#add-movies-btn {
  width: 30%;
}

.Unfavourite-btn {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  font-weight: 600;
  background-color: rgb(252, 82, 82);
  cursor: pointer;
}

.active-tabs {
  background-color: rgb(87, 87, 247);
}

.no-movies {
  padding-top: 10px;
}